/* CSS file for About Section adjusted to match the previous theme */

* {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    box-sizing: border-box; /* Border-box for all elements */
}

/* Body */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #323030;
}

/* Nav Bar */
header {
    background-color: #2A3F54;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 20px;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: left;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: transparent;
    border-radius: 20px; /* Rounded corners */
    color: white;
}

/* About Section */
.about {
    background-color: #f4f4f4;
    padding: 50px 0;
    margin-bottom: 50px;
    min-height: calc(100vh - 60px); /* Account for header height */
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.about h2 {
    font-size: 2.5rem; /* Smaller for a more modern look */
    color: #323030; /* Soft text color for headings */
    margin-bottom: 50px;
    margin-top: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

/* Card */
.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Softer shadow for cards */
    overflow: hidden;
    display: inline-block;
    margin: 10px;
}

.container {
    padding: 20px;
}

.container h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.container p {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Button Styling */
.button {
    background: linear-gradient(145deg, #3075a8, #2a6790); /* Gradient background */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Segoe UI', 'Arial', sans-serif; /* A more modern font */
    text-transform: none; /* Removing uppercase for a more friendly look */
    letter-spacing: normal; /* Default letter spacing for readability */
    transition: box-shadow 0.2s, transform 0.2s; /* Smoother transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-bottom: 10px; /* Spacing at the bottom of the button */
    outline: none; /* Removes outline */
}

.button:hover {
    background-color: #1a659e; /* Darker shade on hover for interactive feedback */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover for more depth */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

.button:active{
    background-color: #14507a; /* Even darker color for active state */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Resetting the shadow to original to simulate pressing down */
    transform: translateY(0); /* Reset transform when active */
}

/* Email */

.email {
    color: #2A3F54; /* Soft link color */
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.email:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #2A3F54;
    color: white;
    padding: 20px 0; /* Increased padding for consistency with the header */
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}
